<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Northwind"
         providerName="System.Data.SqlClient"
         connectionString="Server=ASPIRE-5560G\ZLSQL; Database=Northwind; User ID=@user; Password=@pwd; POOLING=true; MAX POOL SIZE=100;" />
  </connectionStrings>
</configuration>