<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lesson2.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=ASPIRE-5560G\ZLSQL;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>